# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Auth
JWT_SECRET=

# Email
RESEND_API_KEY=
EMAIL_FROM=
ADMIN_EMAIL=

# External API
HIRA_API_KEY=
NTS_API_KEY=

# App
NEXT_PUBLIC_BASE_URL=
